<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="./global.css"/>
    <link rel="stylesheet" href="./index.css"/>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400;500;700&display=swap"
    />


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>


<div>
    <!--    <div class="main-header">-->
    <!--        <a th:href="@{'/'}"><button class="anpilov-bank">Anpilov Bank</button></a>-->
    <!--        <a th:href="@{'/analyze'}"><button class="button-analyze">Аналитика</button></a>-->
    <!--        <a th:href="@{'/author'}"><button class="button-author">Об авторе</button></a>-->
    <!--        <a th:href="@{'/transfer'}"><button class="button-tran">Перевод</button></a>-->
    <!--        <form th:action="@{/logout}" method="post" style='float: right;'>-->
    <!--            <input type="submit" class="button-exit" value="Выйти"/>-->
    <!--        </form>-->

    <!--    </div>-->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a th:href="@{'/'}" class="navbar-brand">Anpilov Bank</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/analyze'}">Аналитика</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/transfer'}">Перевод</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/author'}">Об авторе</a>
                </li>
            </ul>
            <div class="ml-auto">
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-sm btn-outline-secondary" type="submit">Выйти</button>
                </form>
            </div>
        </div>
    </nav>


    <div class="main">
        <div class="info bg-light rounded p-3">
            <div class="text-center mb-4">
                <h4 class="m-0">Добро</h4>
                <h4 class="m-0">Пожаловать</h4>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="m-0" th:text="${User.firstName}"></h5>
                <h5 class="m-0" th:text="${User.getBalance()} + '₽'">0₽</h5>
            </div>
            <div class="text-center mt-4">
                <p class="m-0 text-muted">Всего денег по курсу ЦБ</p>
            </div>
        </div>


<!--        <div class="container-fluid main-tran">-->
<!--            <div class="row tran-header align-items-center">-->
<!--                <div class="col-9">-->
<!--                    <h3 class="mb-0">История операций</h3>-->
<!--                </div>-->
<!--                <div class="col-3">-->
<!--                    <form class="search-group d-flex">-->
<!--                        <input th:value="${keyword}" name="keyword" id="keyword" class="form-control search" type="text"-->
<!--                               placeholder="Поиск" required/>-->
<!--                        <button type="submit" class="btn btn-primary search-outline">-->
<!--                            <img src="./public/vector.svg" alt="Search Icon" class="img-fluid vector-icon"/>-->
<!--                        </button>-->
<!--                        <button class="btn btn-primary close-outline" onclick="clearSearch()">-->
<!--                            <img src="./public/vector1.svg" alt="Close Icon" class="img-fluid vector-icon2"/>-->
<!--                        </button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between">
                        <h2>История операций</h2>
                        <form class="search-group d-flex align-items-center">
                            <input th:value="${keyword}" type="text" class="form-control" name="keyword" id="keyword"  placeholder="Поиск" required>
                            <button type="submit" class="btn btn-primary ms-2">
                                Искать
                            </button>
                            <button type="button" class="btn btn-outline-secondary ms-2" onclick="clearSearch()">
                                Очистить
                            </button>
                        </form>
                    </div>
                </div>
            </div>


        <table class="main-tran" id="1">
                <thead class="column-names">
                <th class="div2" scope="col">Название</th>
                <th class="div3" scope="col">Дата</th>
                <th class="div4" scope="col">Сумма</th>
                <th class="div5" scope="col">Категория</th>
                </thead>
                <tbody>
                <tr th:each="Tran: ${listTran}" class="tran">

                    <td class="wallet-icon">
                        <img class="group-icon3" alt="" src="./public/wallet.svg"/>
                    </td>
                    <th scope="row" class="name">
                        <div class="div6"
                             th:text="${User.id == Tran.id_payee} ? ${'From: ' + alluser.get(Tran.id_payer)} : ${alluser.get(Tran.id_payee)} ">
                            Сбермаркет
                        </div>
                        <div class="div7" th:text="${Tran.type}">Супермаркеты</div>
                    </th>

                    <th scope="row" class="div8">
                        <p class="p" th:text="${Tran.data}">22.02.22</p>
                    </th>
                    <th scope="row" class="div9"
                        th:style="${User.id == Tran.id_payee} ? 'color: green;' : 'color: red;'"
                        th:text="${User.id == Tran.id_payee} ? '+' + ${Tran.money} + '₽': '-' + ${Tran.money} + '₽' ">
                        1000
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/}]]";
    }
</script>

<script>
    var paymentId = "{{Tran.id_payee}}";
    var paymentElement = document.getElementById("payment-" + paymentId);
    var paymentAmount = parseInt(paymentElement.innerText);

    if (paymentId == currentUserId) {
        paymentElement.style.color = "green";
        paymentElement.innerText = "+" + paymentAmount + "р";
    } else {
        paymentElement.style.color = "red";
        paymentElement.innerText = "-" + paymentAmount + "р";
    }
</script>


<script src='https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.0.2/tablesort.min.js'></script>
<script>
    /*!
* tablesort v5.0.2 (2017-11-12)
* http://tristen.ca/tablesort/demo/
* Copyright (c) 2017 ; Licensed MIT
*/
    !function () {
        function a(b, c) {
            if (!(this instanceof a)) return new a(b, c);
            if (!b || "TABLE" !== b.tagName) throw new Error("Element must be a table");
            this.init(b, c || {})
        }

        var b = [], c = function (a) {
            var b;
            return window.CustomEvent && "function" == typeof window.CustomEvent ? b = new CustomEvent(a) : (b = document.createEvent("CustomEvent"), b.initCustomEvent(a, !1, !1, void 0)), b
        }, d = function (a) {
            return a.getAttribute("data-sort") || a.textContent || a.innerText || ""
        }, e = function (a, b) {
            return a = a.trim().toLowerCase(), b = b.trim().toLowerCase(), a === b ? 0 : a < b ? 1 : -1
        }, f = function (a, b) {
            return function (c, d) {
                var e = a(c.td, d.td);
                return 0 === e ? b ? d.index - c.index : c.index - d.index : e
            }
        };
        a.extend = function (a, c, d) {
            if ("function" != typeof c || "function" != typeof d) throw new Error("Pattern and sort must be a function");
            b.push({name: a, pattern: c, sort: d})
        }, a.prototype = {
            init: function (a, b) {
                var c, d, e, f, g = this;
                if (g.table = a, g.thead = !1, g.options = b, a.rows && a.rows.length > 0) if (a.tHead && a.tHead.rows.length > 0) {
                    for (e = 0; e < a.tHead.rows.length; e++) if ("thead" === a.tHead.rows[e].getAttribute("data-sort-method")) {
                        c = a.tHead.rows[e];
                        break
                    }
                    c || (c = a.tHead.rows[a.tHead.rows.length - 1]), g.thead = !0
                } else c = a.rows[0];
                if (c) {
                    var h = function () {
                        g.current && g.current !== this && g.current.removeAttribute("aria-sort"), g.current = this, g.sortTable(this)
                    };
                    for (e = 0; e < c.cells.length; e++) f = c.cells[e], f.setAttribute("role", "columnheader"), "none" !== f.getAttribute("data-sort-method") && (f.tabindex = 0, f.addEventListener("click", h, !1), null !== f.getAttribute("data-sort-default") && (d = f));
                    d && (g.current = d, g.sortTable(d))
                }
            }, sortTable: function (a, g) {
                var h = this, i = a.cellIndex, j = e, k = "", l = [], m = h.thead ? 0 : 1,
                    n = a.getAttribute("data-sort-method"), o = a.getAttribute("aria-sort");
                if (h.table.dispatchEvent(c("beforeSort")), g || (o = "ascending" === o ? "descending" : "descending" === o ? "ascending" : h.options.descending ? "descending" : "ascending", a.setAttribute("aria-sort", o)), !(h.table.rows.length < 2)) {
                    if (!n) {
                        for (; l.length < 3 && m < h.table.tBodies[0].rows.length;) k = d(h.table.tBodies[0].rows[m].cells[i]), k = k.trim(), k.length > 0 && l.push(k), m++;
                        if (!l) return
                    }
                    for (m = 0; m < b.length; m++) if (k = b[m], n) {
                        if (k.name === n) {
                            j = k.sort;
                            break
                        }
                    } else if (l.every(k.pattern)) {
                        j = k.sort;
                        break
                    }
                    for (h.col = i, m = 0; m < h.table.tBodies.length; m++) {
                        var p, q = [], r = {}, s = 0, t = 0;
                        if (!(h.table.tBodies[m].rows.length < 2)) {
                            for (p = 0; p < h.table.tBodies[m].rows.length; p++) k = h.table.tBodies[m].rows[p], "none" === k.getAttribute("data-sort-method") ? r[s] = k : q.push({
                                tr: k,
                                td: d(k.cells[h.col]),
                                index: s
                            }), s++;
                            for ("descending" === o ? q.sort(f(j, !0)) : (q.sort(f(j, !1)), q.reverse()), p = 0; p < s; p++) r[p] ? (k = r[p], t++) : k = q[p - t].tr, h.table.tBodies[m].appendChild(k)
                        }
                    }
                    h.table.dispatchEvent(c("afterSort"))
                }
            }, refresh: function () {
                void 0 !== this.current && this.sortTable(this.current, !0)
            }
        }, "undefined" != typeof module && module.exports ? module.exports = a : window.Tablesort = a
    }();
</script>
<script>
    new Tablesort(document.getElementById('1'));
</script>


</body>
</html>
